.user-collection-heading {
  margin-top: 25px;
  margin-bottom: 0;
}

#user-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
  margin-bottom: 0;
  width: 60vw;
}

.user-details-container {
  margin-top: 25px;
  margin-bottom: 50px;
  margin-right: 15px;
  margin-left: 15px;
  height: 125px;
  width: 175px;
  padding: 5%;
  border: 1px solid black;
  background-color: white;
  box-shadow: 5px 5px 0px rgba(135, 135, 135, 0.5);
  transition: box-shadow 0.3s ease, transform 0.3s ease;
}

.user-details-container:hover {
  box-shadow: 5px 5px 0px rgba(109, 0, 109, 0.7);
  transform: scale(1.1);
}

@media screen and (max-width: 768px) {
  #user-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
  }

  .user-details-container {
    width: 50vw;
    height: 15vh;
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 1.25em;
  }

  .user-details-container > h3 {
    margin-bottom: 3vh;
    margin-top: 0.5vh;
  }
}
